# assignment requirements
click
kafka-python
numpy

# dev requirements
pip-tools
readline

# todo: remove marshmallow?
# project requirements
python-dateutil
pytz
flask
flask-marshmallow
flask-migrate
flask-script
flask-SQLAlchemy
flask-restless==1.0.0b1
kafka-python
marshmallow
marshmallow_sqlalchemy
SQLAlchemy
mysqlclient
simplejson

# testing requirements
pytest
